@media only screen {
	.section-header{
		text-transform: lowercase;
		border-bottom: 0px;
		font-size: 3.6rem;
		font-family: $body;
		font-weight: bold;
		margin-top: 40px;
		&:after{
			content: '';
			border-bottom: 6px solid $pink;
			width: 30px;
			margin: 0 auto;
			display: block;
			position: relative;
			top: 5px;
		}
	}
	header,
	section:not(.home-hero):not(.popupcontainer):not(.hero),
	footer,
	.footer-copyright,
	.superheader{
		max-width: $section_max_width;
		margin: 0 auto;
		position: relative;
		z-index: 2;
		box-sizing: border-box;
	}
	header.header{
		position: relative;
	}
	section:not(.home-hero).hero{
		height: 250px;
	}
	section:not(.home-hero) .hero-text{
		top: 50%;
	}
	section:not(.home-hero) .hero-text-header{
		color: white !important;
	}
	section:not(.home-hero) .hero-text-subheader{
		color: white;
		line-height: 1.5;
		opacity: 0.8;
		letter-spacing: 1px;
	}
}

@media only screen and (min-width: $medium){
	section:not(.home-hero).hero{
		height: 400px;
	}
}

@media only screen and (min-width: $large){
	section:not(.home-hero).hero{
		height: 500px;
	}
	section:not(.home-hero) .hero-text{
		top: calc(50% + 30px);
	}
	.section-header{
		font-size: 4.4rem;
	}
}
