@media only screen {
	.home-areasserved{
		background-color: white;
	}
	.home-areasserved-map-learnmore{
		padding: 15px 30px 15px 20px;
		font-size: 1.4rem;
		margin: 0 auto;
		margin-bottom: 40px;
		cursor: pointer;
		background-color: $ink;
		border: 0px;
		text-transform: capitalize;
		letter-spacing: 1px;
		i{
			color: $pink;
			margin-left: 10px;
			font-size: 2rem;
			position: absolute;
			right: 12px;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
	.areas-served-hero{
		height: 400px !important;
		box-sizing: border-box;
		padding: 0px;
	}
	.areas-served-areas-grid{
		padding-top: 0px;
	}
	.areas-served-hero-map{
		filter: grayscale(100%);
		@include transition(filter 0.4s ease);
	}
	.areas-served-areas-grid-imagecontainer-citystate{
		background-color: $ink;
		color: white;
		padding: 20px;
	}
}

@media only screen and (min-width: $medium){
	.areas-served-areas-grid-imagecontainer{
		height: auto;
	}
}

@media only screen and (min-width: $large){
	.areas-served-hero{
		height: 100vh !important;
	}
	.home-areasserved-map{
		&:hover{
			.areas-served-hero-map{
				filter: grayscale(0%);
			}
		}
	}
}