@media only screen {
	.company-employees-grid-item{
		max-width: 320px;
		margin: 40px auto;
		background-color: $light-grey;
		border-radius: 0px;
		box-shadow: $box-shadow;
	}
	.company-employees-grid-item-imagecontainer-image{
		width: 100%;
	}
	.company-employees-grid-item-socialcontainer{
		padding: 0px 10px 15px 10px;
		margin-top: 0px;
	}
	.company-employees-grid-item-socialcontainer-link{
		display: inline-block;
	    background-color: rgba(0,0,0,0.5);
	    text-align: center;
	    width: 20px;
	    height: 20px;
	    padding: 8px;
	    border-radius: 100%;
	    text-decoration: none;
	    color: black;
	    margin: 0 5px;
	}
	.company-employees-grid-item-socialcontainer-link-icon{
		text-align: center;
		vertical-align: baseline;
		font-size: 1.8rem;
		&:before{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.company-employees-grid-item-textcontainer{
		padding: 20px;
		padding-top: 0px;
	}
	.company-employees-grid-item-textcontainer-name{
		font-family: $body;
		font-weight: bold;
		text-transform: capitalize;
		font-size: 2rem;
	}
	.company-employees-grid-item-textcontainer-title{
		padding: 7px 0;
		font-size: 1.4rem;
		text-transform: capitalize;
		opacity: 0.7;
		margin-bottom: 10px;
	}
	.company-employees-grid-item-textcontainer-description{
		font-size: 1.4rem;
	}
	.company-employees-grid-item-imagecontainer-image{
		padding: 0;
		padding-bottom: 20px;
	}
	.company-employees-grid-item-rightwrap{
		text-align: left;
	}
	.company-wysiwyg{
		padding: 40px 20px;
		background-color: white;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: $medium){
	.company-employees-grid{
		font-size: 0;
		width: 100%;
	}
	.company-employees-grid-item{
		display: inline-block;
		width: calc(50% - 20px);
		margin: 10px !important;
		max-width: none;
		vertical-align: top;
	}
}

@media only screen and (min-width: $large){

	.company-employees-grid-item{
		width: calc(calc(100% / 3) - 20px);
		&:hover{
			.company-employees-grid-item-rightwrap{
				@include transform(translate(0px, 0px));
			}
		}
	}
	.company-employees-grid-item-imagecontainer{
		display: block;
	}
	.company-employees-grid-item-rightwrap{
		position: relative;
	    top: 0px;
	    left: 0;
	    transform: translate(0px,0px);
	    opacity: 1;
	    color: black;
	    width: 100%;
	    *{
	    	@include transform(translateY(0px));
	    }
	}
	.company-employees-grid-item-socialcontainer-link{
		@include transition(background-color 0.25s ease, color 0.25s ease);
		&:hover{
			background-color: $pink;
			color: white;
		}
	}
	.company-wysiwyg{
		padding: 40px;
		box-sizing: border-box;
	}
}