@media only screen {
	.contact-contact-left-locations-location{
		line-height: 1.5;
	}
	.contact-contact-left-locations-header{
		text-transform: lowercase;
		border-bottom: 0px;
		text-align: left;
		font-size: 3.5rem;
		&:after{
			content: '';
			display: block;
			border-bottom: 6px solid $pink;
			margin: 10px 0;
			width: 60px;
			left: 0px;
			@include transform(translate(0px,0px));
		}
	}
	.contact-contact-left-locations-location-name{
		text-transform: capitalize;
		font-size: 2.4rem;
	}
	.contact-contact-left-locations-location-address{
		margin: 10px 0;
	}
	.contact-contact-left-locations-location-phones{
		margin: 10px 0;
	}
	.contact-hero-map{
		filter: grayscale(100%);
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	.contact-contact-left{
		padding-left: 0px;
		padding-right: 10px;
	}	
	.contact-contact-right{
		padding-right: 0px;
		padding-left: 10px;
	}
}
