@media only screen {
	.services-services{
		padding: 20px;
		background-color: white;
	}
	.services-services-grid-item{
		padding: 20px;
		margin: 0 auto 40px auto;
		max-width: 320px;
		min-height: 600px;
		box-shadow: $box-shadow;
	}
	.services-services-grid-item-imagecontainer{
		height: 200px;
		overflow: hidden;
		position: relative;
	}
	.services-services-grid-item-imagecontainer-image{
		width: 100%;
		min-height: 100%;
		position: absolute;
		z-index: -1;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));

	}
	.services-services-grid-item-header{
		text-transform: lowercase;
		font-weight: 700;
		font-size: 2.4rem;
		&:after{
			content: '';
			display: block;
			width: 60px;
			border-bottom: 6px solid $pink;
			margin: 10px auto;
		}
	}
	.services-services-grid-item-descriptioncontainer{
		padding: 10px 0;
		text-align: center;
		width: 100%;
	}
	.services-services-grid-item-descriptioncontainer-header{
		background-color: transparent;
		padding: 20px 10px;
		font-size: 2rem;
		font-family: $body;
		text-transform: capitalize;
		font-weight: 700;
	}
	.services-services-grid-item-descriptioncontainer-description{
		font-size: 1.6rem;
		padding: 0px;
		text-align: left;
	}
	.services-services-grid-item-pricecontainer-price{
		padding-top: 20px;
		font-size: 2rem;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
	}
	.home-services-viewall{
		display: inline-block;
		background-color: $ink;
		color: white;
		padding: 15px 30px 15px 20px;
		font-size: 1.4rem;
		margin: 0 auto;
		margin-bottom: 40px;
		cursor: pointer;
		position: relative;
		text-transform: capitalize;
		letter-spacing: 1px;
		i{
			color: $pink;
			margin-left: 10px;
			font-size: 2rem;
			position: absolute;
			right: 12px;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
}

@media only screen and (min-width: $medium){
	.services-services-grid{
		max-width: 1020px;
		margin: 0 -20px;
		font-size: 0;
		text-align: center;
		position: relative;
		left: calc(50% + 20px);
		@include transform(translateX(-50%));
	}
	.services-services-grid-item{
		width: calc(50% - 20px);
		margin: 10px;
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;
	}
}

@media only screen and (min-width: $large){
	.services-services-grid{
		left: 0px;
		@include transform(translate(0,0));
		margin: 0 auto 40px auto;
	}
	.services-services-grid-item{
		width: calc(calc(100% / 3) - 20px);
	}
	.services-services-grid-item-descriptioncontainer{
		padding: 10px 0;
	}
	.services-services-grid-item-wrapper{
		width: 100%;
		padding-left: 0px;
	}
	.services-services-grid-item-imagecontainer{
		width: 100%;
	}
	.services-services-grid-item-header{
		padding: 5px 0;
		&:after{
			margin: 10px 0;
		}
	}
}