@media only screen {
	.home-testimonials{
		padding: 40px 0px;
		&:before,
		&:after{
			border: 0px;
		}
	}
	.home-testimonials-grid,
	.testimonials-testimonials-grid{
		padding: 0 20px;
	}
	.testimonials-testimonials-grid{
		margin-top: 0px;
		box-sizing: border-box;
	}
	.home-testimonials-grid-item,
	.testimonials-testimonials-grid-item{
		background-color: white;
		box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
		padding: 30px 20px;
		&.hasimage{
			margin-top: 170px;
			.home-testimonials-grid-item-name{
				margin-top: 30px;
			}
		}
	}
	.testimonials-testimonials-grid-item{
		margin: 40px 0px;
	    @include transform(translate(0px,0px));
	    left: 0px;
	    width: calc(100% - 80px);
	}
	.testimonials-testimonials-grid-item-youtubecontainer iframe,
	.home-testimonials-grid-item-youtubecontainer iframe{
		height: 240px;
	}
	.testimonials-testimonials-grid-item-image,
	.home-testimonials-grid-item-image{
		position: absolute;
		top: 35px;
		left: 50%;
		@include transform(translate(-50%, -100%));
	}
	.testimonials-testimonials-grid-item-image{
		width: 140px;
		min-height: 140px;
		border-radius: 220px;
	}
	.testimonials-testimonials-grid-item-personinfo-name,
	.home-testimonials-grid-item-name{
		text-align: center;
		font-weight: 700;
		font-size: 1.8rem;
	}
	.testimonials-testimonials-grid-item-quote,
	.home-testimonials-grid-item-quote{
		margin: 10px 0;
		text-align: center;
		line-height: 1.5;
	}
	.testimonials-testimonials-grid-item-quote{
		padding-top: 0px;
		margin-top: 0px;
	}
	.testimonials-testimonials-grid-item-quotemark,
	.home-testimonials-grid-item-quotemark{
		position: relative;
		left: 50%;
		@include transform(translateX(-50%));
		color: $pink;
		display: inline-block;
		font-size: 2.5rem;
	}
	.testimonials-testimonials-viewall,
	.home-testimonials-viewall{
		display: inline-block;
		background-color: $ink;
		color: white;
		padding: 15px 30px 15px 20px;
		font-size: 1.4rem;
		margin: 0 auto;
		margin-bottom: 40px;
		cursor: pointer;
		position: relative;
		text-transform: capitalize;
		letter-spacing: 1px;
		i{
			color: $pink;
			margin-left: 10px;
			font-size: 2rem;
			position: absolute;
			right: 12px;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
	.testimonials-testimonials-grid-item-youtubecontainer iframe{
		height: 100%;
	}
}

@media only screen and (min-width: $medium){
	.testimonials-testimonials,
	.home-testimonials{
		background-color: $light-grey;
	}
	.testimonials-testimonials-grid{
		font-size: 0px;
	}
	.testimonials-testimonials-grid-item{
		width: calc(50% - 60px);
		margin: 20px;
	    display: inline-block;
	    vertical-align: top;
	    box-sizing: border-box;
	    vertical-align: top;
	}
}

@media only screen and (min-width: $large){
	.testimonials-testimonials-grid,
	.home-testimonials-grid{
		margin: 100px auto;
	}
	.testimonials-testimonials-grid-item.hasimage,
	.home-testimonials-grid-item.hasimage{
		margin-top: 0px;
	}
	.hasimage {
		.testimonials-testimonials-grid-item-image{
			width: 140px;
			background-size: cover;
		}
		.testimonials-testimonials-grid-item-textwrap{
			width: 100%;
		}
	}
}
