@media only screen {
}
@media only screen and (min-width: $medium){
}
@media only screen and (min-width: $large){
	.footer{
		background-color: $ink;
	}

	// Align all Footer Sections
	.footer-wrap {
		text-align: justify;
		padding: 40px 40px 0 40px;
		&:after {
			display: inline-block;
			content: '';
			width: 100%;

		}
	}
	// Align all Footer Sections
	section.footer-column {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		position: relative;
		padding: 0;
		// max-width: 22.5% !important;
		overflow: hidden;
		&:after { content: none; }
	}
	// section.footer-rightcolumn{
	// 	margin: 0 2.5% 0 0 !important;
	// }
	// section.footer-leftcolumn{
	// 	margin: 0 0 0 2.5% !important;
	// }
	section.footer-leftcolumn{
		max-width: 28% !important;
		margin-right: 4% !important;
	}
	section.footer-middlecolumn1,
	section.footer-middlecolumn2,
	section.footer-rightcolumn{
		width: 20%;	
	}
	section.footer-middlecolumn1,
	section.footer-middlecolumn2{
		margin-right: 4% !important;
	}

	// Align Payment Grid Items
	ul.footer-middlecolumn2-payment--wrapper {
		padding: 10px 0;
		column-count: 2;
		li {
			display: block;
			margin: 0;
			padding: 5px;
			margin-right: 10px;
		}
	}
	.footer-midlecolumn2-payment-type-image{
		display: inline-block;
		width: calc(calc(100% / 3) - 20px);
		margin: 10px;
	}
	.footer-contactlinks-address {
		max-width: 220px;
	}
	// Tighten up Headers
	h2.footer-h2{
		display: block;
		font-size: 2.4rem;
		color: white;
		text-transform: capitalize;
		margin-top: 20px;
		text-align: left;
		position: relative;
		margin: 0;
		margin-bottom: 10px;
		padding: 5px;
		&:after {
			position: absolute;
			bottom: -2px;
			left: 5px;
			right: 0;
			width: 100%;
			display: inline-block;
			content: '';
			border-bottom: 2px solid $light-grey !important;
			@include transition(width 0.3s ease);
		}
	}
	// Align Pagelinks 2col Grid
	.footer-pagelinks{
		width: auto;
		padding: 5px;
		margin-top: 10px;
		column-count: 2;
		&:before,
		&:after {
			display: none;
		}
	}
	// Set 2col and space out
	.footer-pagelinks-item{
		display: block;
		padding-right: 0;
	}
	// 
	.footer-pagelinks-item-link{
		text-transform: lowercase;
		font-size: 1.4rem;
	}

	a.footer-logo {
		text-decoration: none;
		overflow-wrap: break-word;
		width: 100%;
	}
	.footer-logo-text {
		font-size: 3rem;
		font-weight: 900;
		color: white;
		padding: 5px 0;
		word-wrap: break-word;
		max-width: 100%;
		line-height: 100%;
	}
	.footer-logo-image{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	// 
	.footer-sociallinks {
		padding: 10px 0;
		margin: 10px 0;
	}
	// social link buttons
	.footer-sociallinks-item{
		background-color: white;
		opacity: 0.5;
		width: 40px;
		height: 40px;
		@include transition(opacity 0.4s ease, background-color 0.4s ease);
		&:hover{
			opacity: 1;
			background-color: $pink; // need to hotlink to ACF
			.footer-sociallinks-item-link-icon:before{
				color: white;
			}		
		}
	}
	// 
	.footer-webxlink {
		position: relative;
		right: auto;
		bottom: auto;
		text-align: left;
		margin: 0 auto;
		width: 100%;
		padding: 10px 0 0 0;
		img {
			height: auto;
			width: 100%;
		}
	}
	// fontawesome icon inside social button
	.footer-sociallinks-item-link-icon:before{
		color: black;
		@include transition(color 0.4s ease);
	}
	// sub-footer copyright bar
	.footer-copyright{
		background-color: $ink;
		padding: 20px 0;
		&:before{
			content: '';
			display: block;
			width: 100%;
			max-width: 700px;
			margin: 0 auto;
			border-bottom: 2px solid rgba(255,255,255,0.2);
			position: relative;
			top: -20px;
		}
	}
}
