@media only screen {
	.mobilefooter{
		background-color: $ink;
		font-size: 0;
		text-align: center;
	}

	.mobilefooter-section {
		display: inline-block;
		vertical-align: top;
		margin: 15px auto;
		padding: 5px;
		&:first-of-type {
			min-width: 80%;
		}
	}

	.mobilefooter-sociallinks-item{
		background-color: $pink;
	}
	.mobilefooter-logo{
		margin-bottom: 20px;
		margin-top: 20px;
		display: block;
		text-decoration: none;
		overflow-wrap: break-word;
	}
	.mobilefooter-logo-text {
		text-align: center;
		display: inline-block;
		font-size: 3rem;
		font-weight: 900;
		color: white;
		padding: 5px 0;
		word-wrap: break-word;
		max-width: 200px;
		line-height: 100%;
	}
	.mobilefooter-logo-image{
		max-height: 30px;
	}
	.mobilefooter-contactlinks{
		// text-align: left;
	}
	.mobilefooter-contactlinks-phone,
	.mobilefooter-contactlinks-address{
		font-size: 1.6rem;
		opacity: 0.5;
	}
	.mobilefooter-sociallinks{
		// text-align: left;
	}
	.mobilefooter-sociallinks-item{
		background-color: white;
		opacity: 0.5;
		width: 30px;
		height: 30px;
	}
	.mobilefooter-sociallinks-item-link{
		font-size: 2rem;
	}
	.mobilefooter-h2{
		text-transform: capitalize;
		font-size: 2rem;
		letter-spacing: 1px;
		position: relative;
		padding: 5px;
		// Underline Goodie
			&:after {
				position: absolute;
				bottom: -2px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 100%;
				display: inline-block;
				content: '';
				border-bottom: 1px solid $light-grey;
				@include transition(width 0.3s ease);
			}
		// end Underline Goodie
	}
	.mobilefooter-pagelinks{
		// text-align: left;
		vertical-align: top;
		margin: 10px auto;
		column-count: 2;
		text-align: left;
	}
	.mobilefooter-pagelinks-item-link{
		color: white;
		text-transform: lowercase;
		font-size: 1.4rem;
		letter-spacing: 1px;
		padding: 5px;
	}
	.mobilefooter-copyright{
		font-size: 1.6rem;
	}
	.mobilefooter-copyright-tclink {
		margin-bottom: 10px;
		display: inline-block;
	}
	.mobilefooter-extralinks {
		display: inline-block;
		min-width: 200px;
	}
	.mobilefooter-webxlink{
		display: block;
		// text-align: left;
		margin: 20px 0px 0px 0px;
	}
	.mobilefooter-payment {
		position: relative;
		margin: 10px auto;
		padding: 5px;
	}
}

@media only screen and (min-width: $medium){
	.mobilefooter-copyright,
	.mobilefooter-pagelinks{
		display: inline-block;
		vertical-align: top;
		// width: 50%;
	}
}

@media only screen and (min-width: $large){
	
}
