@media only screen {
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){
	
	.header-tint{
		background-color: $ink;
		top: auto;
		bottom: 0;
		height: 100%;
	}
	.header-topbar {
		background-color: white;
		display: none;
	}

	.header-topbar-link{
		color: black;
		font-weight: 700;
		letter-spacing: 1px;
	}
	.header-content-logo-image{
		max-height: 32px;
	}

	.header-content {
		position: relative;
		padding: 0 40px;
	}
	a.header-content-logo {
		padding: 40px 0;
	}
	
	.superheader-grid {
		// text-align: left;
	}
	#quickquoteC2A {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.header-tint {
		background-color: white;
	}
	.header-content-menus-pages-menu-item-link {
		color: $ink;
		font-weight: 500;
	}
	.header-content-logo-image {
		//filter: invert(100%);
	}


}
