@media only screen {
	.superheader{
		display: none;
	}
}

@media only screen and (min-width: $medium){

}

@media only screen and (min-width: $large){

}

@media only screen and (min-width: $nav_desktop){
	.superheader{
		display: block;
		background-color: $pink;
		color: white;
	}
	.superheader-grid{
		font-size: 0;
		padding: 10px 40px;
		text-align: center;
	}
	.superheader-grid-item{
		display: inline-block;
		font-size: 0;
		vertical-align: middle;
		margin-right: 40px;
	}
	.superheader-grid-item-icon,
	.superheader-grid-item-content{
		display: inline-block;
		vertical-align: middle;
	}
	.superheader-grid-item-icon{
		width: 30px;
		font-size: 2.5rem;
		color: $ink;
	}
	.superheader-grid-item-content{
		width: calc(100% - 30px);
		font-size: 1.5rem;
		color: white;
		text-decoration: none;
	}
	div.superheader-grid-item-button{
		display: inline-block;
		background-color: $ink;
		color: white;
		padding: 15px 30px 15px 20px;
		font-size: 1.4rem;
		margin: 0 auto;
		cursor: pointer;
		position: relative;
		// text-transform: capitalize;
		letter-spacing: 1px;
		i{
			color: $pink;
			margin-left: 10px;
			font-size: 2rem;
			position: absolute;
			right: 12px;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}
	
}
